<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="fragments/head.html :: head(Karrini)"></div>

<body>
<div th:replace="fragments/spinner.html :: spinner"></div>
<div th:replace="fragments/navbar.html :: navbar"></div>
<h3 th:if="${publishedCourses.isEmpty()}">You haven't published any courses yet.</h3>
<div th:if="${!publishedCourses.isEmpty()}">
    <h3 >You have published the following courses.</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course, iter: ${publishedCourses}">
            <th scope="row" th:text="${iter.count}"></th>
            <td>
                <img th:src="@{'/uploads/' + ${course.getImageUrl()}}" style="width: 100px; height: auto" alt="">
            </td>
            <td th:text="${course.getName()}"></td>
            <td th:text="${course.getDescription()}"></td>
            <td th:text="${course.getCourseStatus().name()}"></td>
            <td style="display: flex; flex-direction: row; justify-content: space-evenly">
                <a th:href="@{'/courses/'+${course.getId()}+'/edit'}"><button type="button" class="btn btn-primary" style="border-radius: 10px">Edit Course</button></a>
                <a th:href="@{/newlecture/course/{courseId}(courseId=${course.id})}"><button type="button" class="btn btn-secondary" style="border-radius: 10px">Add Lecture</button></a>
                <button type="button" class="btn btn-danger delete-button" style="border-radius: 10px" th:attr="course-id=${course.getId()}">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<a class="ms-3" th:href="@{/courses/new}"><button type="button" class="btn btn-success">Create a new course.</button></a>


<div th:replace="fragments/footer.html :: footer"></div>
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!-- JavaScript Libraries -->

<script>
    document.querySelectorAll('.delete-button').forEach(deleteButton => {
        deleteButton.addEventListener('click', () => {
            const courseId = deleteButton.getAttribute('course-id');

            fetch("/courses/delete/" + courseId, {
                method: 'DELETE',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not OK");
                    }
                    console.log("Successfully deleted.");
                    deleteButton.closest('tr').remove();
                })
                .catch(error => {
                    console.error('Deletion failed:', error);
                    alert('Deletion failed. Try again.');
                });
        });
    });
</script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>

</html>